<ion-view view-title="商品详情" class="light-bg">

    <ion-content>
        <div class="list card">

            <div class="item ">
                <h2 style="color:#666;">芝士香草面包碎烤海鲈鱼</h2>
                <p>168RMB/份</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="images/banner01.jpg">
                <img class="full-image" src="images/banner02.jpg">
                <img class="full-image" src="images/banner03.jpg">
                <img class="full-image" src="images/banner04.jpg">
                <h3>主要原料 : </h3>
                <p>
                    活鱼、元葱 此菜相传乾隆下江南微服私访时，偶然在一陈记酒楼食之，因其口味独特，深得乾隆皇帝喜爱，陈大厨被特招进宫，专做此菜，并钦定将其秘方传其后人，以待皇室，此菜因做法特别，汤汁浓厚，营养丰富，所以至今还非常风靡，后经厨师改良，保持原来口味，加以现在特制的盛器，别有一番风味。
                </p>
                <p>
                    <a href="#" class="subdued"><span>1</span>预订</a>
                    <a href="#" class="subdued"><span>5</span> 已售</a>
                </p>
                <div>
                    <!--<div style="float:left;">-->
                        <!--<div class="button button-clear icon ion-ios-plus-outline" style="color:#ffba00"></div>-->
                        <!--<input type="text" style="color:#ffba00;border:1px solid #ffba00;float:left;">-->
                        <!--<div class="button button-clear icon ion-ios-plus-outline" style="color:#ffba00"></div>-->
                    <!--</div>-->
                    <div class="button button-clear button-full" style="float:right;color:#ffba00;border:1px solid #ffba00;border-radius:20px;width:200px;min-height:40px;text-align:center;line-height:40px;">加入菜单</div>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>